*{
    margin: 0;
    font-family:Arial;
    border: border-box;
}
/* Navbar */
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Logo */
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    color: white;
    background-size:cover;
    background-image: url(img/amazone/amazon_logo.png);
}
.border{
    border: 1.5px solid transparent
    
}
.border:hover{
    border: 1.5px solid white;
}
/* Box2 */
.first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}
.secend-add{
    font-weight: 700;
    font-size: 0.85rem;
    margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items:center;
}
/* Box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:aqua;
    width: 620px;
    height: 40px;
    border-radius:4px ;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* Box4 */
span{
    font-size: 0.7rem;
}
.nav-secend{
    font-size: 0.75rem;
    font-weight: 700;
}
/* Box5 */
.nav-card i{
    font-size: 30px;
}
.nav-card{
    font-size: 0.85rem;
    font-weight: 700;
}
/*Panel*/
.panel{
    height: 40px;
    background-color: #222f3d;   
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    padding-left: 5px;
    margin: 10px;
    font-weight: 700;
    display: flex;
}
.panel-all p{
    font-size: 0.85rem;
    margin: 7px;
}
.panel-all i{
    height: 10px;
    margin-top: 7px;
}
.panel-ops p{
    padding: 5px;
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.78rem;
}
.panel-deals{
    
    font-size: 0.9rem;
    font-weight: 700;
    padding: 7px;
}
/* Hero-Section */
.hero-section{
    background-image: url(./img/amazone/hero-section.jpg);
    height:315px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 98%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* Shop-Section */
.shop-section{
    background-color: rgba(147, 194, 218, 0.34);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    background-color: white;
    height: 100%;
    width: 23%;
    padding: 20px 0px 15px 0px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-contant{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-contant p{
    color: #007185;
}
/* Footer */
footer{
    margin-top: 15px;

    
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem ;
}
.foot-panel2{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: #222f3d;
}
ul{
    margin-top: 20px;
}
ul a{
    text-decoration: none;
    font-size: 0.85rem;
    color: #dddddd;
    display: block;
    margin-top: 10px;
}
ul p{
    font-weight: 700;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.2px solid white;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    width: 100px;
    color: white;
    background-size:cover;
    background-image: url(img/amazone/amazon_logo.png);
}
.foot-panel4{
    text-align: center;
    font-size: 0.7rem;
    height: 76px;
    background-color: #0f1111;
    color: #cccccc;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding: 5px;
}